@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$text-color: #2b2b2b;
$link-color: #1c1c1c;
$link-hover-color: #a60606;
$breakpoint: 960px;
$breakpoint2: 961px;
body{
  background-image: url("https://source.unsplash.com/1600x900/?background");
  background-color: rgba(101,103,101,0.7);
  background-blend-mode: multiply;
  font-family: "Slabo 27px", serif;
}
h2{
}
div{
  word-wrap: break-word;
}
div.container{
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  color: $text-color;
  width: 75%;
  margin: 0px auto;
}

div.mark{
  padding: 0;
  margin: 0;
  text-align: right;
  font-family: 'Slabo 27px', serif;
}

h1{
  font-family: 'Slabo 27px', serif;
  color: #2b2b2b;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

a{
  transition: all 0.1s linear;
  &:link,&:visited{
    color: $link-color;
  }
  &:hover,&:active{
    color: $link-hover-color;
    text-decoration: none;
  }
}

input{
  width: 25%;
  height: 1.5em;
}

@media screen and (max-width: $breakpoint){
  img.sample_img{
    display: block;
  }
  div.description{
    display: block;
    background: rgba(255,255,255,0.3);
    width: 90%;
    padding: 5px;
    margin-top: 5px;
  }
}

@media screen and (min-width: $breakpoint2){
  img.sample_img{
    float: left;
  }
  div.description{
    float: right;
    width: calc(100% - 420px);
    padding: 5px;
    margin-left: 5px;
    background-color: rgba(255,255,255,0.3);
  }
  div.sep{
    clear: both;
  }
}

